:root {
    --orange: #FFBB00;
    --semi-orange: #997443;
    --white: #FFFFFF;
    --dark-orange: #B67934;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 19px;
}

body {
    font-family: 'Segoe UI Semilight';
}

section {
    padding: 1rem 15rem;
}

footer p {
    padding: 1rem;
    font-size: 0.8rem;
    font-family: Poppins;
    text-align: center;
    background: var(--orange);
}

ul {
    margin: 0 2rem;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background: var(--orange);
}

.heading img {
    width: 15rem;
}

.heading p {
    font-size: 2.3rem;
    color: var(--white);
    text-transform: capitalize;
}

.topic {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--orange);
}

.subtopic {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: var(--semi-orange);
}

.note {
    font-size: 1.2rem;
    font-family: Poppins;
}