:root {
    --orange: #FFBB00;
    --white: #FFFFFF;
    --dark-orange: #B67934;
}
* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 20px;
    font-family: 'Segoe UI Semilight';
}

select, input {
    padding: 1rem;
    font-family: Poppins;
    text-transform: capitalize;
    width: 25rem;
    height: 3rem;
    border: 1px solid var(--dark-orange);
    border-radius: 5px;
    outline: none;
    margin-bottom: 1rem;
}

input[type="password"] {
    text-transform: none;
}

.heading {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin-bottom: 1rem;
    background: var(--orange);
}

.heading img {
    width: 15rem;
}

.heading p {
    font-size: 2.3rem;
    color: var(--white);
    text-transform: capitalize;
}

.section {
    padding: 2rem 15rem;
    margin: 2rem;
}

.section-title,
.student-information > p {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--orange);
}

.student-information {
    margin: 1rem 0;
}

.student-information > p {
    font-size: 2rem;
    margin-bottom: 0.7rem;
}

.info {
    text-transform: capitalize;
    font-size: 1.3rem;
    font-family: Poppins;
    margin-bottom: 0.5rem;
}

.password {
    text-transform: unset;
}

.confirm-button {
    width: 25rem;
    height: 3.5rem;
    font-family: Poppins;
    background: var(--orange);
    color: var(--white);
    transition: 0.5s ease all;
    cursor: pointer;
    outline: none;
    border: 1px solid var(--dark-orange);
    border-radius: 5px;
}

.confirm-button:hover {
    background: var(--white);
    color: var(--dark-orange);
}